@model Mahya.Domain.Models.Orders.Order
@{
    ViewData["Title"] = "جزییات سفارش مشتری";
    var index = 1;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body">

        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

            <div class="row">
                <div class="col-md-4">
                    <label id="" class="form-label">نام و نام خانوادگی مشتری:</label>
                    <p class="alert alert-success">
                        @Model.User.GetUserName()
                    </p>
                </div>
                <div class="col-md-4">
                    <label id="" class="form-label">آدرس مشتری:</label>
                    <p class="alert alert-success">
                        @Model.User.Address
                    </p>

                </div>
                <div class="col-md-4">
                    <label id="" class="form-label">قیمت کل سفارشات:</label>
                    <p class="alert alert-success">
                        @Model.OrderSum.ToString("#,0 تومان")
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                    {
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending">#</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="نام محصول: activate to sort column ascending">نام محصول</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="تصویر محصول: activate to sort column ascending">تصویر محصول</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="قیمت محصول: activate to sort column ascending">قیمت محصول</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="تعداد: activate to sort column ascending">تعداد</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.OrderDetails)
                                {

                                    <tr role="row" class="odd">
                                        <td class="">@index</td>

                                        <td class="">
                                            @order.Product.Name
                                        </td>
                                        <td>
                                            <img src="@(PathExtensions.Product1Thumb + order.Product.ProductImageName)" class="img-thumbnail" style="width: 50px" />

                                        </td>
                                      @if (order.Product.Discount)
                                      {

                                          <td>
                                              @order.Product.NewPrice.ToString("#,0 تومان")
                                          </td>
                                      }
                                      else
                                      {
                                          <td>
                                              @order.Product.Price.ToString("#,0 تومان")
                                          </td>
                                      }
                                      <td>
                                          @order.Count
                                      </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                            @* <tfoot>
                                <tr><th rowspan="1" colspan="1">موتور رندر</th><th rowspan="1" colspan="1">مرورگر</th><th rowspan="1" colspan="1">سیستم عامل</th><th rowspan="1" colspan="1">ورژن</th><th rowspan="1" colspan="1">امتیاز</th></tr>
                                </tfoot>*@
                        </table>
                    }

                    else
                    {
                        <div class="alert alert-danger">
                            <b>ایتمی وجود ندارد</b>
                        </div>
                    }
                </div>
            </div>
            @*  <div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">بعدی</a></li></ul></div>
                </div>
                </div>*@

         
        </div>
    </div>
    <!-- /.card-body -->
</div>


