@model Mahya.Domain.ViewModels.Site.Products.ProductItemViewModel


    <div class="product product-7 text-center">
        <figure class="product-media">
            @if (Model.Discount)
            {
                <span class="product-label label-primary">فروش ویژه</span>

            }
            @if (!Model.IsActive)
            {
                <span class="product-label label-sale">اتمام موجودی</span>

            }
            <a asp-area="" asp-controller="Product"asp-action="ShowProductDetail" asp-route-productId="@Model.ProductId">
                <img src="@(PathExtensions.Product1Orgin + Model.ProductImageName1)" alt="@Model.ProductName" class="product-image">
                <img src="@(PathExtensions.Product2Orgin + Model.ProductImageName2)" alt="@Model.ProductName" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a asp-area="User"asp-controller="Account" asp-action="AddUserFavorite"asp-route-productId="@Model.ProductId" class="btn-product-icon btn-wishlist btn-expandable">
                    <span>
                        افزودن به
                        لیست علاقه مندی
                    </span>
                </a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a asp-area=""asp-controller="Product"asp-action="BuyProduct"asp-route-productId="@Model.ProductId" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat text-center">
                <a href="#">@Model.ProductCategory.Title</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title text-center">
                <a asp-area="" asp-controller="Product"asp-action="ShowProductDetail" asp-route-productId="@Model.ProductId">@Model.ProductName</a>
            </h3>
            <!-- End .product-title -->
            <div class="product-price">
                <span class="old-price">@Model.Price.ToString("#,0 تومان")</span>

            </div>
            @if (Model.Discount)
            {
                <span class="new-price">@Model.NewPrice.ToString("#,0 تومان")</span>

            }
            <!-- End .product-price -->
            
            @if (Model.Images != null && Model.Images.Any())
            {
                <div class="product-nav product-nav-thumbs">
                    @foreach (var image in Model.Images)
                    {
                        <a href="#" class="active">
                            <img src="@(PathExtensions.ProductOrgin+image)" alt="@Model.ProductName">
                        </a>
                    }
                 
                </div><!-- End .product-nav -->
            }
           
        </div><!-- End .product-body -->
    </div><!-- End .product -->
